build/*
!build/.gitkeep
build-debug/
data/
.idea/
**.so
**.pyd

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### R
.Rhistory
.Rapp.history
.RData
*-Ex.R
/*.Rcheck/
.Rproj.user/
.httr-oauth
/*_cache/
/cache/
*.utf8.md
*.knit.md
rsconnect/


# Distribution / packaging
.Python
env/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Data
data.csv