build/*
!build/.gitkeep
build-debug/
.idea/
cmake-build*/
**.so
**.pyd
src/py/test.py

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### R
.Rhistory
.Rapp.history
.RData
*-Ex.R
/*.Rcheck/
.Rproj.user/
.httr-oauth
/*_cache/
/cache/
*.utf8.md
*.knit.md
rsconnect/
R/img/
R/out/
R/*.png
R/*.pdf
R/config.R

# Distribution / packaging
.Python
env/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Visual Paradigm
.vpprefdata/
*.vpp.bak*
*.vpp~*
*.vpp.working
*.vpp.working-journal
*.lock
*.lck
tmp/*

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Data
data/*
!data/.gitkeep
data.csv

# Results
results/*
!results/.gitkeep
logs/

# iRace
irace/arena/*
!irace/arena/.gitkeep

# ETL auxiliary stuff
src/r/temp/
src/r/temp.R
