backcall==0.1.0
cycler==0.10.0
decorator==4.3.0
dill==0.2.8.2
ipython==6.4.0
ipython-genutils==0.2.0
jedi==0.12.0
kiwisolver==1.0.1
line-profiler==2.1.2
matplotlib==2.2.2
mpmath==1.0.0
multiprocess==0.70.6.1
numpy==1.14.2
opencv-python==3.4.0.12
pandas==0.23.3
parso==0.2.1
pathos==0.2.2.1
pexpect==4.6.0
pickleshare==0.7.4
pox==0.2.4
ppft==1.6.4.8
prompt-toolkit==1.0.15
psrecord==1.1
psutil==5.4.6
ptyprocess==0.5.2
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
scikit-learn==0.19.1
scipy==1.0.1
simplegeneric==0.8.1
six==1.11.0
sortedcontainers==1.5.10
sympy==1.1.1
tabulate==0.8.2
traitlets==4.3.2
wcwidth==0.1.7
